@{
  Layout = "_Layout";
}

@using BendSpoon.Models;

<h1>Restaurant Management</h1>

@if (@Model.Count == 0)
{
  <h5><em>there are currently no saved Restaurants</em></h5>
}
else
{
  <ul>
    @foreach (Restaurant restaurant in Model)
    {
      <li>@restaurant.RestName | @Html.ActionLink($"{restaurant.RestName}", "Details", new { id = restaurant.RestaurantId })</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add new restaurant", "Create")</p>
<p>@Html.ActionLink("Return to Home", "Index", "Home")</p>