@{
  Layout = "_Layout";
}

@model BendSpoon.Models.Employee

<h2>Add a new Employee,</h2>

<p>@Html.ValidationMessageFor(model => model.StartDate, "", new { @class="text-danger", @style="font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.DisplayNameFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.DisplayNameFor(model => model.StartDate)
  @Html.EditorFor(model => model.StartDate)

  <input type="submit" value="Add Employee" />
}

<p>@Html.ActionLink("Return to Employee List", "Index")</p>